@using  FoodRecall_Group11.Models.ViewModel;
@model List<CountbyClass>


<h2>Main Page - Displays count of FoodRecall class types</h2>
<p>
    This page provides information about the total count of records in each class.
    The count in each class will direct to the list of records in that class.
    The data was taken from
    <a href="https://open.fda.gov/apis/food/enforcement/">FoodRecall API Data</a>.
</p>

<table class="table">
    <thead>
        <tr>
            <th>Classification Type</th>
            <th>Total Count</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.classtype)
                </td>
                <td>
                    @Html.ActionLink(item.count.ToString(), "Information", new { id = item.classtype })
                </td>
            </tr>
        }
    </tbody>
</table>