@{
    ViewData["Title"] = "Home Page";
}

<div class="space">
    <h2>Food Recall</h2>
    <p>
        Recalls are a means to
        remove potentially hazardous products from the marketplace or from consumers’ homes. This
        manual has been developed to assist businesses with the recall process.
    </p>
    <h2>What do food recall inspections cover?</h2>
    <p>
        <ul>
            <li class="myList">Crusted material accumulated in cracks of conveyor belt, a food contactsurface.</li>
            <li class="myList">
                Incoming raw material is transported through the area where finished productis
                packaged.
            </li>
            <li class="myList">
                Condensate observed dripping on product conveyor line from overhead pipes.
            </li>
        </ul>
    </p>
</div>


<h5>The following is accomplished by our application</h5>
<p>
    <ul>
        <li class="myList">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><u>Home</u></a>
            Gives an overview about the FoodRecall dataset and about the different pages of the application
        </li>
        <li class="myList">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Classifications"><u>Classifications</u></a>
            This tab shows the number of records in each class
        </li>
        <ul>
            <li class="insideList">Clicking on the number of records will give the list of records in that class</li>
            <li class="insideList">
                At the end of each record, there is an edit and a delete CRUD operation.
            </li>
        </ul>
        <li class="myList">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Visualization"><u>Visualization</u></a>
            This tab displays a horizontal bar chart of the 3 classifications and the description of these classes below it.
        </li>
        <li class="myList">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><u>About</u></a>
            This tab displays information about our group members along with their photographs, the ER diagram.
        </li>
    </ul>
</p>
<h5>Tasks Achieved</h5>
<p>
    <ul>
        <li class="myList">
            Conection to API and fetching of json data
        </li>
        <li class="myList">
            Saving Json data to a database
        </li>
        <li class="myList">
            Integrating previous assignment
        </li>
        <li class="myList">
            Performing CRUD operations
        </li>
        <li class="myList">
            Chart in visualization
        </li>
        <li class="myList">
            Deploying to Azure
        </li>
    </ul>
</p>